.accordion {
  max-height: 6rem;

  cursor: pointer;
  overflow: hidden;
  padding: 1.5rem 1rem;
  transition: all 0.3s ease-in;
}

.accordion.active {
  max-height: 100rem;

  border-radius: 1em;
  background: var(--accordion-bg);
}

.accordion-title,
.accordion-content {
  display: grid;
  column-gap: 2rem;
  align-items: center;
  justify-items: start;
  pointer-events: none;
  grid-template-columns: 2.5rem 1fr;
}

.accordion-title {
  min-height: 5rem;
  pointer-events: none;
}

.accordion-title p {
  font-weight: 600;
  font-size: 1.5rem;
  text-align: start;
  color: var(--text-clr);
}

.accordion-title .material-icons {
  font-size: 3rem;
  color: var(--clr-primary);
}

.accordion:not(.active) .remove {
  display: none;
}

.accordion.active .add {
  display: none;
}

.accordion.active .material-icons {
  background: #fff;
  border-radius: 50%;
}

.accordion .accordion-content {
  max-height: 0;
  transition: all 0.2s ease-in;
}

.accordion.active .accordion-content {
  display: grid;
  margin-top: 1rem;
  max-height: 100rem;
}

.accordion-content p {
  grid-column: 2 / 3;

  text-align: start;
  font-size: 1.6rem;
  line-height: 1.5em;
  color: var(--text-clr);
}

.accordion-content .cta-btn {
  margin-bottom: 0;
  grid-column: 1 / 3;
  justify-self: center;
}

@media (max-width: 799px) {
  .accordion:not(:last-of-type) {
    margin-bottom: 1rem;
  }
}
