:root {
  font-size: 62.5%;

  --clr-primary: #fe662e;
  --clr-secondary: #404099;
}

* {
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  transition: color 0.2s ease-in, background 0.3s ease-in;
}

button {
  cursor: pointer;
}

input,
textarea,
button {
  display: inline-block;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}
