html {
  scroll-behavior: smooth;
  scroll-padding-top: 5vh;
}

nav {
  position: sticky;
  top: 0;

  height: 5vh;
  background-color: #ff5214;
  box-shadow: 0px 0px 10px 2px rgb(0 0 0 / 0.1);
}

.nav-container {
  display: flex;
  align-items: center;
  justify-content: space-between;

  margin: 0 auto;
  max-width: 1300px;
}

.nav-links {
  display: flex;
  align-items: center;

  list-style: none;
}

.nav-link a {
  padding: 1rem;
  color: #fff;
  font-weight: 500;
  display: inline-block;
  text-decoration: none;
  font-size: clamp(1.4rem, 3vw, 1.8rem);
}

main {
  margin: 0 auto;
  max-width: 1300px;
}

section {
  min-height: 50vh;
  padding: 2rem 3rem;
  text-align: center;
}

h2 {
  font-size: 2.7rem;
  margin-bottom: 2rem;
  color: var(--clr-primary);
}

#hero {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;

  min-height: 95vh;
}

#hero h1 {
  font-size: 4rem;
  margin-bottom: 1rem;
  color: var(--clr-primary);
}

#hero img {
  width: 100%;
  max-width: 600px;
}

#hero p {
  max-width: 45ch;
  text-align: justify;
  margin: 1.5rem 0 1rem;
  font-size: clamp(1.7rem, 4vw, 2.5rem);
}

#hero p strong {
  color: var(--clr-primary);
}

#hero small {
  display: block;
  margin: 0 auto;
  max-width: 45ch;
  font-weight: 800;
  color: var(--clr-primary);
  font-size: clamp(1.4rem, 3vw, 2rem);
}

#hero h2 {
  font-size: 1.4rem;
  margin-bottom: 1rem;
}

.next-section-btn {
  width: 45px;
  height: 45px;
  display: grid;
  place-content: center;

  margin: 0 auto;
  border-radius: 50%;
  text-decoration: none;
  color: var(--clr-primary);
  border: 2px solid var(--clr-primary);
}

#protocols > p {
  margin: 0 auto;
  max-width: 50ch;
  font-weight: 500;
  text-align: center;
  margin-bottom: 2rem;
  font-size: clamp(1.6rem, 3vw, 2rem);
}

.protocols-list {
  display: grid;
  gap: 2rem;
  grid-template-columns: repeat(auto-fit, minmax(22rem, 1fr));

  margin: 1rem 0;
  list-style: none;
}

.protocol {
  padding: 2rem;
  border-radius: 20px;

  display: flex;
  align-items: center;
  flex-direction: column;
}

.protocol.blue {
  background: #404099;
  color: var(--clr-primary);
}

.protocol.orange {
  color: #404099;
  background: var(--clr-primary);
}

.protocol img {
  width: 100%;
  height: 190px;
  max-width: 250px;
  margin-bottom: auto;
}

.protocol p {
  padding: 1rem;
  width: 100%;
  max-width: 30ch;
  background: #fff;
  margin: 1rem auto 0;
  border-radius: 10px;

  color: inherit;
  font-size: 1.6rem;
  font-weight: 600;
  text-align: center;
}

.accordion {
  max-height: 6rem;

  cursor: pointer;
  overflow: hidden;
  padding: 1.5rem 1rem;
  transition: all 0.3s ease-in;
}

.accordion.active {
  max-height: 100rem;

  border-radius: 1em;
  background: #f5f4fb;
}

.accordion-title,
.accordion-content {
  display: grid;
  column-gap: 2rem;
  align-items: center;
  justify-items: start;
  grid-template-columns: 2.5rem 1fr;
}

.accordion-title {
  min-height: 4rem;
  pointer-events: none;
}

.accordion-title p {
  font-weight: 600;
  font-size: 1.5rem;
  text-align: start;
}

.accordion-title .material-icons {
  font-size: 3rem;
  color: var(--clr-primary);
}

.accordion:not(.active) .remove {
  display: none;
}

.accordion.active .add {
  display: none;
}

.accordion.active .material-icons {
  background: #fff;
  border-radius: 50%;
}

.accordion .accordion-content {
  max-height: 0;
  transition: all 0.2s ease-in;
}

.accordion.active .accordion-content {
  display: grid;
  margin-top: 1rem;
  max-height: 100rem;
}

.accordion-content p {
  grid-column: 2 / 3;

  text-align: start;
  font-size: 1.6rem;
  line-height: 1.5em;
}

.accordion-content .cta-btn {
  margin-bottom: 0;
  grid-column: 1 / 3;
  justify-self: center;
}

.cta-btn {
  padding: 1rem 3rem;
  display: inline-block;
  margin: 3rem 0 min(5vh, 3rem);

  color: #fff;
  background: var(--clr-primary);

  font-weight: 700;
  text-decoration: none;
  border-radius: 99999px;
  font-size: clamp(1.5rem, 3vw, 2rem);
}

.hashtag {
  color: #7c74fc;
}

@media (max-width: 799px) {
  .accordion:not(:last-of-type) {
    margin-bottom: 1rem;
  }
}

@media (min-width: 800px) {
  .questions-list {
    display: grid;
    gap: 2rem;
    grid-template-columns: 1fr 1fr;
  }
}
